Package: xyz.xninja.dopesettings
Name: DopeSettings
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Spice up the settings view
Maintainer: ARX8x
Author: ARX8x
Section: Tweaks
